

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background: #f5f7fa;
  color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  display: none; 
  width: 100%;
  max-width: 420px;
  height: 100vh;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.screen[aria-hidden="false"] {
  display: flex;
}

.logo {
  text-align: center;
  padding: 20px;
  background: #1976d2;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

#screen-splash {
  align-items: center;
  justify-content: center;
}
#sosBtn {
  background: #d32f2f;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
#sosBtn:hover {
  background: #b71c1c;
}

#screen-contacts {
  flex-direction: column;
}
#backFromContacts {
  background: #1976d2;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}
#contactsList {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.contact1 {
  text-align: center;
  padding: 20px;
  background: #1976d2;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
.contact {
  display: flex;
  align-items: center;
  background: #fafafa;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.2s;
}
.contact:hover {
  background: #f0f0f0;
}
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #1976d2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 12px;
  font-size: 18px;
}
.meta {
  flex: 1;
}
.cname {
  font-size: 16px;
  font-weight: bold;
}
.ctype {
  font-size: 14px;
  color: #555;
}

#screen-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #cc5a5a;
  color: white;
  height: 100%;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.call-time {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 8px;
  z-index: 1;
}
.call-name {
  font-size: 22px;
  margin-bottom: 6px;
  z-index: 1;
}
#callNumber {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 80px;
  z-index: 1;
}
#endCallBtn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  z-index: 1;
 
}

.call-time {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 5px;
  font-weight: bold;
}
.call-name {
  font-size: 30px;
  margin-bottom: 2px;
  font-weight: bold;
}
#callNumber {
  font-size: 18px;
  color: #ddd;
}
